header {
    display: flex;

}

.fieldset1 {
    margin: auto;
    width: 50%;
    border: 2px solid black;
}

.poto {
    width: 190px;
    height: 200px;
    margin: auto;
    padding-top: 15px;
}

.profil-table {
    width: 100%; 
    padding: 10px; 
    display: flex;
}

.table-profil {
    width: 100%;
}

.tr-profil {
    margin-top: 5px;
}

.categories1 {
    text-align: right;
    font-size: 20px;
}

.categories {
    text-align: right;
}

.main {
    text-align: justify;
}

nav {
    display: flex;
    gap: 10px;
}

.vidio {
    width: 400px;
    height: 300px;
    border: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kumpulan-foto {
    width: 300px;
    height: 287px;
    border: 1px solid black;
    display: flex;
    padding: 5px;
}

.kotak-foto{
    display: grid;
    margin: auto;
}

.fotonya {
    width: 140px;
    height: 140px;
    margin: auto;
}

.berkas {
    width: 300px;
    height: 280px;
}